<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <article class="article">

        <h2>{=$title}</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, maxime a illo qui similique quo molestiae
            porro veniam doloribus pariatur exercitationem hic recusandae minima consectetur inventore! Natus iste a
            earum.

        </p>


    </article>

</body>

</html>