<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <section class="author">

        <img src="" alt="">

        <h3>Autor</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam in illum quo, ad unde eligendi, quod amet
            harum ratione laudantium qui aspernatur provident, optio fuga iure obcaecati earum. Suscipit, odit!</p>
    </section>

    <section class="lists">
        <ul class="lists__sections">
            <li>Sección 1</li>
            <li>Sección 2</li>
            <li>Sección 3</li>
            <li>Sección 4</li>
            <li>Sección 5</li>

        </ul>
        <ul class="lists__categories">
            <li>Categoria 1</li>
            <li>Categoria 2</li>
            <li>Categoria 3</li>
            <li>Categoria 4</li>
            <li>Categoria 5</li>

        </ul>
    </section>

</body>

</html>